includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
        - database
    excludePaths:
        - *config/*.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true


